# Lock down folder visibility
Options -Indexes

# Prevent Direct Access to Swiftly system files
<FilesMatch "\.(log|env|php)$">
  Require all denied
</FilesMatch>

# Prep rewrite
RewriteEngine On

# All requests are relative to /public
RewriteBase /public/

# If the user hasn't requested an existing file, send request to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpe?g|gif|ttf|woff2)
RewriteRule (.*) index.php?_route_=$1 [L,QSA]
